body {
	background-color: #002200;
	color: white;
	font-family: Calibri;
}

#lunchbox, #header {
	width: 1000px;
}

#popout {
	width: auto;
}

#form_main {
	width: 610px;
}


.evidence-btn {
	width: 34px;
	text-align: center;
}

.popout-ghost-btn {
	width: 100px;
	font-variant: small-caps;
}

